apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "obi.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "obi.labels" . | nindent 4 }}
data:
  obi-config.yaml: |
    otlpEndpoint: {{ .Values.obi.otlpEndpoint }}
    openPort: {{ .Values.obi.openPort }}
    networkEnabled: {{ .Values.obi.networkEnabled }}
    {{- if .Values.obi.serviceName }}
    serviceName: {{ .Values.obi.serviceName }}
    {{- end }}
    allowedAttributes:
      {{- range .Values.obi.allowedAttributes }}
      - {{ . }}
      {{- end }}
